<div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_token %}
        {% if page_token != 'first' %}
        <li class="page-item">
          <a class="page-link" href="?page_token=previous&amp;previous_page_token={{ page_token }}">Previous</a>
        </li>
        {% endif %}
        {% endif %}
        {% if next_page_token %}
        <li class="page-item">
          <a class="page-link" href="?page_token={{ next_page_token }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>